<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>QUEEN OF GOLF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- The link of Google font PT Serif-->
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/sass-css/main.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-app="page_app">
  <!-- Here is ANGULAR controller for our page-->
  <div id="page_content" ng-controller="PageController"> 
    <div class="container">
      <div class="background_slide_1">   </div>
      <div class="background_slide_2">
        <!-- Shadow Created in the bottom of the container via lineae-gradient  -->
      </div>
      <div class="border_shadow_bottom">
        <!-- Container for titles-->
      </div>
      <div class="container_big_header">
        <div class="big_header_content">
          <h1>{{container[0].header}}</h1>
        </div>
        <div class="small_header_content">
          <h6 ng-bind-html="container[1].small_header">{{container[1].small_header}}</h6>
        </div>
        <div class="data_small_content">
          <div class="date">{{container[2].date}} </div>
          <div class="eye_img"></div>
          <div class="views">{{container[3].views}}</div>
          <!-- Social icons on the left side of the container with position fixed-->
        </div>
      </div>
      <div class="social_icons"><a href="#" class="facebook">
          <div class="facebook_logo"></div></a><a href="#" class="twitter">
          <div class="twitter_logo"></div></a><a href="#" class="google_plus">
          <div class="google_logo"></div></a></div>
    </div>
    <section>
      <div class="row">
        <!-- Here I'm Using Sceleton file to greate simple Grid-->
        <div class="content twelve columns">
          <article class="seven columns">
            Exit Tiger Woods and Phil Mickelson. Enter Chanelle Wangari, an eight year old 
            Kenyan golfer who wants to give Woods a run for his money. </br><br>Wangari is a class three student at Makini School. </br>
            By the way, she turns nine in September but before then she wants to have </br>
            won the the US Kids Golf World Championship that will be held in Pinehurst,
            North Carolina from July 30th to August 1, 2015.
          </article>
        </div>
        <!-- This Part I use for ANGULAR LOOP-->
        <div class="amazing_facts twelve columns"> 
          <div class="amazing_container nine columns">
            <h1>{{content[0].title}}</h1>
          </div>
        </div>
        <div ng-repeat="item  in articles | limitTo:3" ng-bind-html-unsafe="item" class="repeat_all">   
          <div class="amazing_facts twelve columns"> 
            <div class="amazing_container nine columns"> 
              <div class="fact_header">
                <div ng-repeat="number in item" class="big_eight">{{number.number}}</div>
                <h1 ng-repeat="number_title in item">{{number_title.number_title}} <span>{{number_title.header_title}}<span></h1>
              </div>
            </div>
          </div>
          <div class="content twelve columns">
            <article ng-repeat="thing in item" class="seven columns">
               
              {{thing.content}}<br><br><span ng-repeat="quote in item">{{quote.quote}}</span><br>
              <div ng-bind-html="thing.smn_sass">{{thing.smn_sass}}</br></div><br>{{thing.girl_says}}</br><br><span>{{thing.girl_quote}}</span>
            </article>
          </div>
        </div>
      </div>
    </section>
    <div class="container slider_one">
      <div class="slider_container">
        <div class="box_img">
          <!-- Img's that have different z-index -->
          <div class="img_slide_one slide active_foto"></div>
          <div class="img_slide_two slide"></div>
          <div class="img_slide_three slide"></div>
        </div>
        <div class="controller">
          <!-- Arrows that we use to slide img's-->
          <div class="left_arrow_next"></div>
          <div class="right_arrow_prev"></div>
        </div>
        <div class="slider_content">{{slider_one[0].content}}</div>
      </div>
    </div>
    <section>
      <div class="row">
        <div ng-repeat="item  in articles | limitTo: 3: 3" ng-bind-html-unsafe="item" class="repeat_all">   
          <div class="amazing_facts twelve columns"> 
            <div class="amazing_container nine columns"> 
              <div class="fact_header">
                <div ng-repeat="number in item" class="big_eight">{{number.number}}</div>
                <h1 ng-repeat="number_title in item">{{number_title.number_title}} <span>{{number_title.header_title}}<span></h1>
              </div>
            </div>
          </div>
          <div class="content twelve columns">
            <article ng-repeat="thing in item" class="seven columns">
              <div ng-bind-html="thing.content"> {{thing.content}}</div><br><br><span ng-repeat="quote in item">{{quote.quote}}</span><br>
              <div ng-bind-html="thing.smn_sass">{{thing.smn_sass}}</br></div><br>{{thing.girl_says}}</br><br><span>{{thing.girl_quote}}</span>
            </article>
          </div>
        </div>
      </div>
    </section>
    <div class="container slider_one slider">
      <div class="slider_container two">
        <div class="moving_container jump_img_left">
          <div class="img_slide_one slider"></div>
          <div class="img_slide_two slider"></div>
        </div>
        <div class="moving_container">
          <div class="img_slide_one slider"></div>
          <div class="img_slide_two slider">   </div>
        </div>
        <div class="controller">
          <div class="left_arrow"></div>
          <div class="right_arrow"></div>
        </div>
        <div class="slider_content">{{slider_two[0].content}}</div>
      </div>
    </div>
    <section>
      <div class="row">
        <div ng-repeat="item  in articles | limitTo: 2: 6" ng-bind-html-unsafe="item" class="repeat_all">   
          <div class="amazing_facts twelve columns"> 
            <div class="amazing_container nine columns"> 
              <div class="fact_header">
                <div ng-repeat="number in item" class="big_eight">{{number.number}}</div>
                <h1 ng-repeat="number_title in item">{{number_title.number_title}} <span>{{number_title.header_title}}<span></h1>
              </div>
            </div>
          </div>
          <div class="content twelve columns">
            <article ng-repeat="thing in item" class="seven columns">
              <div ng-bind-html="thing.content"> {{thing.content}}</div><br><br><span ng-repeat="quote in item">{{quote.quote}}</span><br>
              <div ng-bind-html="thing.smn_sass">{{thing.smn_sass}}</br></div><br>{{thing.girl_says}}</br><br><span>{{thing.girl_quote}}</span>
            </article>
          </div>
        </div>
      </div>
    </section>
    <div class="container_video">
      <div class="video_wrapper">
        <iframe type="text/html" width="640" height="390" src="http://www.youtube.com/embed/rB_BXeph91w?html5=1" frameborder="0"></iframe>
      </div>
    </div>
    <div class="logo_container">
      <div class="logo"></div>
    </div>
  </div>
  <script src="../scripts/angular.min.js">//ANGULAR</script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js">// ANGULAR part to output html tegs from $scope</script>
  <script src="../scripts/ng-controllers/my-ng-app.js">// Our Angular Controller</script>
  <script src="../scripts/jquery-1.10.2.js">// JQUERY</script>
  <script src="../scripts/function.js">// MAIN script js</script>
  <script src="../scripts/fit-text/fit-text.js">// Fit text function</script>
</body>