@import 'skeleton/skeleton.scss'
@import 'bourbon'
@import 'animations.scss'


.slider_one
  background: $main-red
  height: 670px
  +display(flex)
  +justify-content(center)

  @media (max-width: 985px)
    height: 740px
  @media (max-width: 500px)
    height: 850px
  @media (max-width: 335px)
    height: 910px

  .slider_container
    position: relative
    width: 80%
    height: 100%
    .slide
      position: absolute
      width: 80%
      height: 75%
      left: 50%
      top: 50%
      +transform(translate(-50%, -50%))

    .slide:first-child
      background: url('../pictures/pic_for_slide_second/slide_1.jpg') center center
      @include filter(grayscale(70%))
      background:
        repeat: no-repeat
        size: cover
    .slide:nth-child(2)
      background: url('../pictures/pic_for_slide_second/slide_2.jpg') center center
      @include filter(grayscale(70%))
      background:
        repeat: no-repeat
        size: cover

    .slide:nth-child(3)
      background: url('../pictures/pic_for_slide_second/slide_3.jpg') center center
      @include filter(grayscale(70%))
      background:
        repeat: no-repeat
        size: cover

    .controller
      width: 100%
      position: absolute
      top: 50%
      +transform(translate(0%, -50%))

      .left_arrow_next
        position: absolute
        left: -40px
        +size(60px)
        float: left
        cursor: pointer
        background: url('../pictures/pic_for_slide_second/arrows.svg') 10px -5px
        background-repeat: no-repeat
        background-size: 300%
      .right_arrow_prev
        position: absolute
        right: -37px
        +size(60px)
        float: right
        cursor: pointer
        background: url('../pictures/pic_for_slide_second/arrows.svg') -130px -5px
        background-repeat: no-repeat
        background-size: 300%

    .slider_content
      position: absolute
      top: 90%
      text-align: center
      font:
        size: 18px
        family: $pt-serif
      color: white
      @media (max-width: 985px)
        top: 82%
      @media (max-width: 600px)
        top: 70%
      @media (max-width: 335px)
        top: 60%

.box_img
  position: relative
  height: 670px
  @media (max-width: 600px)
    height: 400px
    top: 100px
  @media (max-width: 500px)
    top: 150px
  @media (max-width: 330px)
    top: 170px

.active_foto
  z-index: 2
  left: 10% !important
  top: 12.3% !important
  width: 80.5% !important
  height: 75.5% !important
  @extend .slide_one
