
.container.slider_one
  
  .slider_container
    
    .box_img
      // Img's that have different z-index 
      .img_slide_one.slide.active_foto
      .img_slide_two.slide
      .img_slide_three.slide
        
    .controller
      // Arrows that we use to slide img's
      .left_arrow_next
      .right_arrow_prev
        
    .slider_content
      | {{slider_one[0].content}}
      
    
