
<section>
  <div class="row">
    <div ng-repeat="item  in articles | limitTo: 2: 6" ng-bind-html-unsafe="item" class="repeat_all">   
      <div class="amazing_facts twelve columns"> 
        <div class="amazing_container nine columns"> 
          <div class="fact_header">
            <div ng-repeat="number in item" class="big_eight">{{number.number}}</div>
            <h1 ng-repeat="number_title in item">{{number_title.number_title}} <span>{{number_title.header_title}}<span></h1>
          </div>
        </div>
      </div>
      <div class="content twelve columns">
        <article ng-repeat="thing in item" class="seven columns">
          <div ng-bind-html="thing.content"> {{thing.content}}</div><br/><br/><span ng-repeat="quote in item">{{quote.quote}}</span><br/>
          <div ng-bind-html="thing.smn_sass">{{thing.smn_sass}}</br></div><br/>{{thing.girl_says}}</br><br/><span>{{thing.girl_quote}}</span>
        </article>
      </div>
    </div>
  </div>
</section>