.container.slider_one.slider
  .slider_container.two
    .moving_container
      .img_slide_one.slider
      .img_slide_two.slider
    .controller
      .left_arrow
      .right_arrow  
    .slider_content
      | This shot by Wangari was super accurate, nearly smacking the center of the 100 yard sign!
