.container.slider_one
  .slider_container
    .img_slide_one.slide
    .img_slide_two.slide
    .img_slide_three.slide
    .controller
      .left_arrow
      .right_arrow  
    .slider_content
      | Wangari has mastered the art of the perfect swing and she’s still in primary school! Those of you heading to the course should take a quick lesson from these amazing pictures of Wangari in action!
      
    
