@import skeleton/skeleton.scss
@import container_style/container.sass
@import content/content.sass
@import slider_one_style/slider_one.sass
@import bourbon


body
  background: lightgray
  padding: 0px
  margin: 0px
