.container
    .background_slide_1
    .background_slide_2
    .border_shadow_bottom
    .container_big_header
      .big_header_content
        h1 8 Amazing Facts About Kenya’s Eight Year Old Queen Of Golf Chanelle Wangari
      .small_header_content
        h6 Tuko.co.ke spent a morning with her at the Muthaiga Golf Club </br> where she was working on her swing </br> with the help of her coach Charles Farrar.
      .data_small_content
        .date 12 August 2015 
        .eye_img
        .views 5201
    .social_icons
      a(href='#').facebook
        .facebook_logo
      a(href='#').twitter
        .twitter_logo
      a(href='#').google_plus
        .google_logo
