@import 'skeleton/skeleton.scss'
@import 'bourbon'
@import 'animation.scss'

.two
  width: 100% !important
  position: relative !important

  .slider_content
    width: 100%


.moving_container
  left: 16%!important
  width: 70% !important
  top: 50px
  position: absolute
  width: 65%
  height:  80%
  visibility: hidden
  +display(flex)
  +justify-content(space-around)
  +flex-wrap(wrap)

  @media (max-width: 700px)
    height: 50%
    top: 122px
  @media (max-width: 480px)
    height: 30%
    top: 227px
    left: 15px


  .slider
    width: 420px
    background: black
    height: 90%
    background:
      position: center center
      size: cover
    @include filter(grayscale(70%))

    @media (max-width: 1129px)
      max-width: 50%
      border: 2px solid black
      +box-sizing(border-box)


  .slider:first-child
    background: url('../pictures/pic_for_slide_three/queen_1.jpg')
    background:
      repeat: no-repeat
      position: center center
      size: cover
  .slider:nth-child(2)
    background: url('../pictures/pic_for_slide_three/queen_2.jpg')
    background:
      repeat: no-repeat
      position: center center
      size: cover


// Classes For toggle Slider_3 //

.source_img_one
  background: url('../pictures/pic_for_slide_three/queen_3.jpg') !important
  background:
    repeat: no-repeat !important
    size: cover !important
.source_img_two
  background: url('../pictures/pic_for_slide_three/field.jpg') !important
  background:
    repeat: no-repeat !important
    size: cover !important

/// Classes for animation

.jump_img_left
  z-index: 5
  @extend .move_from_left
  visibility: visible !important

.jump_img_right
  z-index: 5
  @extend .move_from_right
  visibility: visible !important



// Moving container Two //

.moving_container:nth-child(2)

  .slider:first-child
    background: url('../pictures/pic_for_slide_three/queen_3.jpg')
    background:
      repeat: no-repeat
      position: center center
      size: cover

  .slider:nth-child(2)
    background: url('../pictures/pic_for_slide_three/field.jpg')
    background:
      repeat: no-repeat
      position: center center
      size: cover

// Controller - lef and right arrows

.controller
  top: 40% !important
  z-index: 6 !important

  .left_arrow
    +size(60px)
    float: left
    cursor: pointer
    background: url('../pictures/pic_for_slide_second/arrows.svg') -0px -5px
    background-repeat: no-repeat
    background-size: 300%

    @media (max-width: 400px)
      border-radius: 50%
      background-color: fade-out(gray, 0.4)

  .right_arrow
    +size(60px)
    float: right
    cursor: pointer
    background: url('../pictures/pic_for_slide_second/arrows.svg') -125px -5px
    background-repeat: no-repeat
    background-size: 300%

    @media (max-width: 400px)
      border-radius: 50%
      background-color: fade-out(gray, 0.4)
