

.container_video
  .video_wrapper
    iframe(type='text/html' width='640' height='390' src='http://www.youtube.com/embed/rB_BXeph91w?html5=1' frameborder='0')
.logo_container
  .logo
    
  
 
  
    
